@font-face {
	font-family: 'Cheap Pine Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("assets/e84ff009e6f716e8_Cheap-Pine-W00-Sans.ttf") format('truetype');
}

/*# sourceURL=elementor-pro-custom-fonts-inline-css */