
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />

    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y; h.start = 1 * new Date;
            h.end = i = function () { s.className = s.className.replace(RegExp(' ?' + y), '') };
            (a[n] = a[n] || []).hide = h; setTimeout(function () { i(); h.end = null }, c); h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000,
            { 'GTM-K9GL89': true });</script>

    <!-- Google Tag Manager -->
    <script>(function (n, t, i, r, u) { n[r] = n[r] || []; n[r].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var e = t.getElementsByTagName(i)[0], f = t.createElement(i), o = r != "dataLayer" ? "&l=" + r : ""; f.async = !0; f.src = "//www.googletagmanager.com/gtm.js?id=" + u + o; e.parentNode.insertBefore(f, e) })(window, document, "script", "dataLayer", "GTM-K9GL89");</script>
    <!-- End Google Tag Manager -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-57x57-v2.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-60x60-v2.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-72x72-v2.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-76x76-v2.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-114x114-v2.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-120x120-v2.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-144x144-v2.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-152x152-v2.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/apple-icon-180x180-v2.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/android-icon-192x192-v2.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-32x32-v2.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-96x96-v2.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-16x16-v2.png" />
    <link rel="shortcut icon" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/favicon-v2.ico" type="image/x-icon" />
    <link rel="manifest" href="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="https://djnn6j6gf59xn.cloudfront.net/content/img/favicons/ms-icon-144x144-v2.png" />
    <meta name="theme-color" content="#ffffff" />
    
    <meta name="googlebot" content="index, follow" />
    <meta name="robots" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta http-equiv="content-language" content="pt-br" />

        <meta name="keywords" content="programa para salao, programa para salão, controle de estoque, salão de beleza online,
                                       como abrir um salão, programa para salao, programa para salão, salao de beleza online,
                                       sistema de salao de beleza, sistema para salão, software para salao, software para salão,
                                       sistema salao, sistema de salao, sistema salão, salao de beleza na web,
                                       software livre, sistema de gestão, trinks, trinks.com" />

    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2YNLNNJ249"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-2YNLNNJ249');
    </script>
    <script type="text/javascript" src="https://djnn6j6gf59xn.cloudfront.net/Content/js/GoogleAnalyticsAdapter.js?v=50a1e21591"></script>
    <script>
        GoogleAnalyticsAdapter.setService(ANALYTICS_SERVICES.GA4);
    </script>


    
    
    <meta property="og:title" content="Trinks - Marque seu horário! Acesse:" />
        <meta property="og:image" content="https://d39p7gjvbgwtet.cloudfront.net/Estabelecimentos/8215/800x500/logo_000008215.jpg?v=20260902155700" />

    <meta name="id-hotsite" content="6080" />
    <meta name="id-estabelecimento" content="8215" />
        <meta name="id-franquia" content="639" />


            <title>Trinks - a agenda do seu salão</title>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/Scripts/animate.css/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/libs/bootstrap/trinks/css/trinks_bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/Areas/HotSiteV2/Content/estilo/trinkstyle/main.min.css?v=50a1e21591" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/js/slick-carousel/slick.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/js/slick-carousel/slick-theme.css" type="text/css" />
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/css/icomoon/style.css?v=50a1e21591" type="text/css" />
    <link rel="stylesheet" href="https://d157bhqyjlrmwg.cloudfront.net/?v=50a1e21591" type="text/css" />
    
    <link rel="stylesheet" href="https://djnn6j6gf59xn.cloudfront.net/content/js/ng-image-gallery/ng-image-gallery.min.css" type="text/css" />


    <style type="text/css">
        main {
            display: block
        }

        .spinner {
            text-align: center;
        }

            .spinner i {
                font-size: 300%;
            }
    </style>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/polyfills?v=YdXXgL1YWSPN7PIADhHfuoXRwVhhnSCm-Ks_1Ze5mb01"></script>

    
            <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '772023603832734');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=772023603832734&amp;ev=PageView&amp;noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->

    
    <script type="text/javascript" src="/Areas/HotSiteV2/Views/Shared/Template/0010/FrameBusca.chtml.js?v=50a1e21591"></script>



    <script src="https://cdn.jsdelivr.net/npm/google-libphonenumber@3.2.40/dist/libphonenumber.js"></script>
    <script>
        const googlePhoneUtil = window.libphonenumber;
        window.ddiBrasil = '55';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.9.47/libphonenumber-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/country-list-with-dial-code-and-flag@5.1.0/dist/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/country-list-with-dial-code-and-flag/dist/country-flag-svg.js"></script>
    <script type="text/javascript" src="https://djnn6j6gf59xn.cloudfront.net/Content/js/telefone/SelectDDI.js?v=50a1e21591"></script>

    

<script>
    window.baseUrl = 'https://www.trinks.com/';
    window.URL_BASE_API = 'https://www.trinks.com/api';

    // Hubspot Tracking Events
    window._hsq = window._hsq || [];
</script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9GL89" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    








<main id="frameBuscaTrinksAppContainer" class="eh-framebusca">
    






<div id="hotsiteAppContainer" class="framebusca-index" ng-controller="HotsiteController as vm">
    <hotsite-info url="barbeariadonmaestro" id-estabelecimento="8215" frame-busca="true" />
    <div ng-if="vm.deveRedirecionarPorPoliticaDeCookie" class="container-fluid mt-2 mt-sm-4">
        <div class="row mb-3 mb-sm-5">
            <div class="col-12 col-sm-6 order-1 order-sm-0">
                <h1 class="titulo-framebusca">Olá, para uma melhor experiência precisamos redirecionar você.</h1>
                <h2 class="descricao-framebusca">
                    Vamos continuar o seu agendamento? Clique no botão abaixo para redirecionarmos você.
                </h2>
            </div>
            <div class="col-12 col-sm-6 order-0 order-sm-1">
                <header class="d-flex justify-content-end">
                    <a class="navbar-brand">
                        <img class="logo-trinks" src="/Content/svg/logo-rebranding-trinks-poweredby-cinza.svg" title="Trinks.com - Sistema de Gestão e Agendamento online" alt="Trinks.com" border="0" />
                    </a>
                </header>
            </div>
        </div>
        <div class="row mb-3 mb-sm-5">
            <div class="col-12 col-sm-6 order-1 order-sm-0">
                <a class="btn button--primary-color-inverted" href="https://www.trinks.com/barbeariadonmaestro/framebusca?hl=pt-BR&amp;gei=oZdYZ9joKMa_5OUP8MCgoAg&amp;rwg_token=AJKvS9Uu0XgtkKPitVhN74ZsQfLCu3UeyWiYUO56aIbZEmhfS-M-CsTx1JA2WQt6xue4LWsLwqdiCdYV-ouFI1dVMd5kg9WMYA%3D%3D" target="_blank">Agende agora</a>
            </div>
        </div>
    </div>
    <div ng-if="!vm.deveRedirecionarPorPoliticaDeCookie" class="container-fluid mt-2 mt-sm-4">
        <div class="row mb-3 mb-sm-5">
            <div class="col-12 col-sm-6 order-1 order-sm-0">
                <h1 class="titulo-framebusca">Agende agora mesmo!</h1>
                <h2 class="descricao-framebusca">
                    Selecione abaixo o serviço desejado e aproveite todas as vantagens
                    de um agendamento prático, rápido e inteiramente online!
                </h2>
            </div>
            <div class="col-12 col-sm-6 order-0 order-sm-1">
                <header class="d-flex justify-content-end">
                    <a class="navbar-brand">
                        <img class="logo-trinks" src="/Content/svg/logo-rebranding-trinks-poweredby-cinza.svg" title="Trinks.com - Sistema de Gestão e Agendamento online" alt="Trinks.com" border="0" />
                    </a>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 pt-3 pt-sm-0">
                <div class="row" ng-if="vm.exibeUltimoServicoRealizado" ng-cloak>
                    <div class="col-12">
                        <h4 class="titulo-sessao mb-2">Repetir último serviço</h4>
                    </div>
                    <div class="col-12">
                        <servico-relacionado-busca servico="vm.ultimoServicoRealizado" />
                    </div>
                </div>
                <div class="row" ng-if="vm.exibeServicosMaisAgendados" ng-cloak>
                    <div class="col-12">
                        <h4 class="titulo-sessao mb-2">Mais agendados</h4>
                    </div>
                    <div class="col-12">
                        <slick class="slick-responsive" ng-cloak init-onload="true" data="vm.servicosMaisAgendados" dots="true" infinite="true" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="4" responsive="vm.responsiveOptions">
                            <servico-relacionado-busca ng-repeat="servico in vm.servicosMaisAgendados" servico="servico" />
                        </slick>
                    </div>
                </div>

                <div class="" ng-if="vm.carregandoUltimosServicosRealizados && vm.carregandoServicosMaisAgendados">
                    <div class="skeleton-screens--vertical">
                        <div class="mb-4" style="text-align: center">
                            <div class="columns"></div>
                            <div class="columns"></div>
                            <div class="columns"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 pt-3 pt-sm-0">
                <div ng-if="!vm.carregandoServicos" ng-cloak>
                    <div class="row">
                        <div class="col-12 mt-4">
                            <h4 class="titulo-sessao mb-2">Clubes de assinatura</h4>
                        </div>
                        <categoria-clube-assinatura ng-cloak clubes="vm.listaClubesDeAssinatura" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="titulo-sessao mb-2">Pacotes</h4>
                        </div>
                        <categoria-pacote ng-cloak pacotes="vm.listaPacotes" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="titulo-sessao mb-3">Todos os serviços</h4>
                        </div>

                        <categoria-servico ng-cloak ng-repeat="categoria in vm.categorias" categoria="categoria" />
                    </div>
                </div>

                <div class="" ng-if="vm.carregandoServico">
                    <div class="skeleton-screens ">
                        <div class="mb-4">
                            <div class="line" style="max-width: 140px;"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="categoria-servico.directive.html">
        <div class="col-12 wrap-collabsible mb-2">
    <input ng-attr-id="'collapsible-'{{categoria.id}}" class="toggle" type="checkbox">
    <label ng-attr-for="'collapsible-'{{categoria.id}}" class="lbl-toggle p-3">{{categoria.descricao}}</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div class="row pr-3 pl-3 pb-4 pt-2">
                <div class="input-group">
                    <input type="text" ng-model="categoria.filtro" class="form-control" placeholder="Pesquisar serviço...">
                    <span class="input-group-btn">
                        <button class="btn-search selecao-servicos" type="button"><i class="material-icons mt-1" style="font-size: 22px !important">search</i></button>
                    </span>
                </div>
            </div>
            <servico-para-agendar ng-repeat-start="servico in categoria.servicos | filter:{nome:categoria.filtro}" servico="servico" />
            <hr ng-repeat-end />
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="servico-para-agendar.directive.html">
        <div class="row p-1 pb-4">
    <div class="col-7 col-sm-6">
        <span class="textoServicos__titulo">{{servico.nome}}</span>
        <span class="textoServicos__horario" ng-if="servico.tipo==0">{{obterTextoDuracaoServico(servico.duracaoEmMinutos)}}</span>
        <div class="textoServicos__descricao">
            <p ng-class="{collapse: servico.descricao.length >= 100}">{{servico.descricao}}</p>
            <a ng-click="lerMais($event)" ng-if="servico.descricao.length >= 100" class="collapsed" href=""></a>
        </div>
        <div ng-if="servico.tipo==1" class="tooltip-itens-pacote">
            <a href="" ng-mouseover="ExibirItensPacote(servico)" ng-mouseleave="EsconderItensPacote(servico)">Itens do pacote</a>
            <div id="{{servico.id}}" class="itens-do-pacote">
                <div class="mt-2 mb-2" ng-repeat="item in servico.itensPacoteTooltip">{{item.quantidade}}x {{item.nome}}<br /></div>
            </div>
        </div>
    </div>
    <div class="col-5 col-sm-6">
        <div class="row">
            <preco-servico centralizar="false" class="col-12 col-md-6 mt-3 px-0" servico="servico" />
            <div class="col-12 col-lg-6" ng-if="servico.tipo==0">
                <a ng-href="{{servico.urlAgendamento}}" rel="nofollow" tks-notification="selecaoServico" tks-event-details="{servico: servico.nome}" class="card-agendamento__botao card-agendamento__botao--pequeno mt-3">Agendar</a>
            </div>
            <div class="col-12 col-lg-6" ng-if="servico.tipo==1">
                <span class="textoServicos__naodisponivel">Agende com o estabelecimento</span>
            </div>
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="calendario.directive.html">
        <div class="calendario">
    <div class="d-flex align-items-center pb-2">
        <button class="btn btn-link d-flex align-items-center p-0" ng-click="voltar()">
            <i class="material-icons">arrow_back</i>
            <span class="ml-1 d-none d-sm-block">Anterior</span>
        </button>
        <span class="escolha-horario" style="flex: 1; text-align: center">Escolha o seu horário</span>
        <button class="btn btn-link d-flex align-items-center p-0" ng-click="avancar()">
            <span class="mr-1 d-none d-sm-block">Próximo</span>
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>
    <hr class="m-0" />
    <div class="calendario__lista-datas">
        <div class="calendario__dia calendario-dia" ng-repeat="data in datas" ng-class="{'calendario-dia--selecionado': dataEstaSelecionada(data.data)}" ng-click="selecionarData(data.data)">
            <span class="calendario-dia__dia-semana" >{{data.diaDaSemana}}</span>
            <span class="calendario-dia__dia-mes">
                <span>{{data.dia}}</span>
                <span>/</span>
                <span class="calendario-dia__dia">{{data.mes}}</span>
            </span>
            <span class="calendario-dia__desconto">
                <span ng-if="obterPercentualDeDesconto(data.data) > 0">{{obterPercentualDeDesconto(data.data)}}% OFF</span>
            </span>
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="preco-servico.directive.html">
        <div class="textoServicos__preco-container" ng-class="{'align-items-center': centralizar, 'align-items-center align-items-sm-start': !centralizar}">
    <span class="textoServicos__desconto" ng-if="servico.tipo==TipoServicoHotsite.SERVICO_INDIVIDUAL && exibePrecoAnterior(servico)"><span class="textoServicos__ate-x-porcento" ng-if="exibeMelhorPromocao()">até {{obterPercentualDeDesconto(servico)}}%</span> <span ng-if="exibeMelhorPromocao()">em dias especiais</span></span>
    <span class="textoServicos__partirde" ng-if="servico.tipo==TipoServicoHotsite.SERVICO_INDIVIDUAL && exibeAPartirDe(servico)">A partir de:</span>
    <div>
        <span class="textoServicos__valorantigo" ng-if="servico.tipo==TipoServicoHotsite.SERVICO_INDIVIDUAL && exibePrecoAnterior(servico)">{{obterValorAnterior(servico)}}</span>
        <span class="textoServicos__valor" ng-if="servico.tipo==TipoServicoHotsite.SERVICO_INDIVIDUAL">{{obterTextoPreco(servico)}}</span>
        <span class="textoServicos__valor" ng-if="servico.tipo==TipoServicoHotsite.PACOTE">{{formatarValor(servico.preco)}}</span>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="avaliacao-estabelecimento.directive.html">
        <div class="row avaliacoes">
    <div class="col-12">
        <div class="d-flex align-items-center">
            <span class="avaliacoes__valor mr-1">{{avaliacao.avaliacao}}.0</span>
            <i ng-class="{ 'icon-star--fill': avaliacao.avaliacao >= 1 }" class="material-icons icon-star">star</i>

            <i ng-class="{ 'icon-star--fill': avaliacao.avaliacao >= 2 }" class="material-icons icon-star">star</i>

            <i ng-class="{ 'icon-star--fill': avaliacao.avaliacao >= 3 }" class="material-icons icon-star">star</i>
            <i ng-class="{ 'icon-star--fill': avaliacao.avaliacao >= 4 }" class="material-icons icon-star">star</i>
            <i ng-class="{ 'icon-star--fill': avaliacao.avaliacao >= 5 }" class="material-icons icon-star">star</i>
        </div>
    </div>
    <div class="col-12">
        <span class="avaliacoes__texto-avaliacao">
            {{avaliacao.textoAvaliacao}}
        </span>
    </div>
    <div class="col-12">
        <small class="avaliacoes__nome-usuario">{{avaliacao.nomeUsuario}}, em {{formatar(avaliacao.dataHora)}}</small>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="card-profissional.directive.html">
        <div class="profissional card-profissional" ng-class="{ 'card-profissional--horizontal': cardHorizontal, 'card-profissional--clicavel': cardClicavel }">
    <div class="card-profissional__bloco-imagem">
        <img class="card-profissional__img" ng-src="{{profissional.urlFoto}}">
    </div>
    <div class="card-profissional__bloco-informacoes">
        <span class="card-profissional__titulo">{{profissional.nome}}</span>
        <span class="card-profissional__descricao-valor">{{profissional.funcao || "&nbsp;"}}</span>
        <div class="card-profissional__bloco-recomendacoes">
            <div class="card-profissional__icon" ng-if="profissional.favorito">
                <i class="material-icons">favorite</i>
            </div>
            <div class="card-profissional__icon" ng-if="!profissional.favorito && exibeRecomendacoes && profissional.recomendacoes > 0">
                <i class="material-icons">favorite_border</i>
            </div>
            <div class="d-flex align-items-center" ng-if="exibeRecomendacoes">
                <span class="card-profissional__descricao m-1" ng-if="profissional.recomendacoes > 0">{{profissional.recomendacoes}}</span>
            </div>
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="servico-relacionado-busca.directive.html">
        <div class="col-3 card-busca mr-2">
    <span class="card-busca__titulo">{{ servico.nome }}</span>
    <span class="card-busca__descricao">{{ obterTextoDuracaoServico(servico.duracaoEmMinutos) }}</span>
    <preco-servico centralizar="true" class="card-busca__descricao-valor" servico="servico"></preco-servico>
    <a ng-href="{{ servico.urlAgendamento }}" rel="nofollow" tks-notification="selecaoServico" tks-event-details="{servico: servico.nome}" class="card-busca__botao card-busca__botao--pequeno">Agendar</a>
</div>
    </script>
    <script type="text/ng-template" id="categoria-pacote.directive.html">
        <div class="col-12 wrap-collabsible mb-2">
    <input ng-attr-id="'collapsible-pacote'" class="toggle" type="checkbox">
    <label ng-attr-for="'collapsible-pacote'" class="lbl-toggle p-3">Pacotes</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div class="row pr-3 pl-3 pb-4 pt-2">
                <div class="input-group">
                    <input type="text" ng-model="pacote.nome" class="form-control" placeholder="Pesquisar pacote...">
                    <span class="input-group-btn">
                        <button class="btn-search selecao-servicos" type="button"><i class="material-icons mt-1" style="font-size: 22px !important">search</i></button>
                    </span>
                </div>
            </div>
            <div ng-cloak ng-repeat="pacote in pacotes | filter: {nome: pacote.nome}">
                <div class="row p-1 pb-4">
                    <div class="col-7 col-sm-6">
                        <span class="textoServicos__titulo">{{pacote.nome}}</span>
                        <div class="textoServicos__descricao">
                            <p ng-class="{collapse: pacote.descricao.length >= 100}">{{pacote.descricao}}</p>
                            <a ng-click="lerMais($event)" ng-if="pacote.descricao.length >= 100" class="collapsed" href=""></a>
                        </div>
                        <div class="tooltip-itens-pacote">
                            <a href="" ng-mouseover="ExibirItensPacote(pacote)" ng-mouseleave="EsconderItensPacote(pacote)">Itens do pacote</a>
                            <div id="{{pacote.id}}" class="itens-do-pacote">
                                <div class="mt-2 mb-2" ng-repeat="item in pacote.itensPacoteTooltip">{{item.quantidade}}x {{item.nome}}<br /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mt-3 px-0">
                                <span class="textoServicos__valor">{{formatarValor(pacote.preco)}}</span>
                            </div>
                            <div class="col-12 col-lg-6" ng-if="pacote.vendaHotsite">
                                <a ng-href="{{pacote.urlCompra}}" rel="nofollow" tks-notification="selecaoPacote" tks-event-details="{pacote: pacote.nome}" class="card-agendamento__botao card-agendamento__botao--pequeno mt-3 ml-4">Conhecer</a>                                
                            </div>
                            <div class="col-12 col-lg-6" ng-if="!pacote.vendaHotsite">
                                <span class="textoServicos__naodisponivel">Agende com o estabelecimento</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </script>
    <script type="text/ng-template" id="categoria-clube-assinatura.directive.html">
        <div class="col-12 wrap-collabsible mb-2">
    <input ng-attr-id="'collapsible-clube'" class="toggle" type="checkbox">
    <label ng-attr-for="'collapsible-clube'" class="lbl-toggle p-3">Clubes de assinatura</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div class="row pr-3 pl-3 pb-4 pt-2">
                <div class="input-group">
                    <input type="text" ng-model="clube.nome" class="form-control" placeholder="Pesquisar clube de assinatura...">
                    <span class="input-group-btn">
                        <button class="btn-search selecao-servicos" type="button"><i class="material-icons mt-1" style="font-size: 22px !important">search</i></button>
                    </span>
                </div>
            </div>
            <div ng-cloak ng-repeat="clube in clubes | filter: {nome: clube.nome}">
                <div class="row p-1 pb-4">
                    <div class="col-7 col-sm-6">
                        <span class="textoServicos__titulo">{{clube.nome}}</span>
                        <div class="textoServicos__descricao">
                            <p ng-class="{collapse: clube.descricao.length >= 100}">{{clube.descricao}}</p>
                            <a ng-click="lerMais($event)" ng-if="clube.descricao.length >= 100" class="collapsed" href=""></a>
                        </div>
                        <div class="tooltip-itens-clube">
                            <a href="" ng-mouseover="ExibirItensClubeAssinatura(clube)" ng-mouseleave="EsconderItensClubeAssinatura(clube)">Itens do clube</a>
                            <div id="{{clube.id}}" class="itens-do-clube">
                                <div class="mt-2 mb-2" ng-repeat="itemClube in clube.itensClubeAssinaturaTooltip">{{itemClube.quantidade}} x {{itemClube.item}}<br /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mt-3 px-0">
                                <span class="textoServicos__valor">{{formatarValor(clube.preco)}}/mês</span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <a ng-href="{{clube.urlCompra}}" rel="nofollow" tks-notification="selecaoPacote" tks-event-details="{clube: clube.nome}" class="card-agendamento__botao card-agendamento__botao--pequeno mt-3">Conheça</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </script>
</div>
</main>



    

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/jquery-bundle?v=wvxYB36lSmTEmWkP610ZEy6FYR0xwS6X3cw_fqe0p1c1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-bundle?v=xNow29xGIOCRhs5ZH7aGh-xzQxYB4GqfTINvDqRgA2s1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-shared-v1?v=uOj_GetpiZ8LDLb66Q9RSsUQruUJEaHQBs01FXXKZxk1"></script>


    
    <script src="https://djnn6j6gf59xn.cloudfront.net/Scripts/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-and-jquery-pre-requisites?v=KAynclorf7pq2fxn0gqLA_PE2E-LC2i1f57iYgS3Rsw1"></script>

    
    <script src="https://djnn6j6gf59xn.cloudfront.net/content/js/frameBuscaTrinks/dist/frameBuscaTrinks.shared.min.js?v=50a1e21591"></script>
    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-estabelecimentos-v1?v=4wTpoYvI50Rt-nQmJSP5tl9FoycZmlvYOS_-VZfZhTk1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-hotsite-v1?v=LSI79BvNu1bmQP7PTpe1S3ao_NiaX96FUxj_Q5rpfbM1"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-menu-header-v1?v=tvVUgoz9wwikZL_lRM2ToJSk00uTtSevshiPvH6s8Z41"></script>

    <script src="https://djnn6j6gf59xn.cloudfront.net/bundles/ng-header-v1?v=AgDWVWF-2ECezNZ_YExrcy2JQ_0jdt_0xMeFvBhd1xY1"></script>

    



    <script src="https://djnn6j6gf59xn.cloudfront.net/Scripts/shared.js?v=50a1e21591"></script>
    <style>
        slick.slick-slider, .calendario {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
    </style>

    <script src="https://djnn6j6gf59xn.cloudfront.net/Scripts/shared.js?v=50a1e21591"></script>
</body>
</html>